.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading_block{
  display: flex;
  justify-content: center;
  align-items: center;
}